@import "reset.css";

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: #dedede;
}

h1 {
  font-weight: bold;
  font-size: larger;
}

strong {
  font-weight: bold;
}