.header {
    height: 75px;
    width: auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.1);
  }
  
  .header-title {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  .header-title a {
    color: black;
    text-decoration: none;
  }

  .header-title a:hover {
    color: gray;
  }
  
  .header-question {
    margin-left: auto;
    margin-right: 0;
  }

  .header-question a {
    color: black;
    text-decoration: none;
  }
  
  .header-question i {
    color: black;
  }

  .header-question i:hover {
    color: gray;
  }
