@import "default.css";
@import "loader.css";
@import "header.css";
@import "switch.css";

.end {
  display: none;
  text-align: center;
  margin-bottom: 5vh;
}

.end a {
  color: gray;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 10px;
  margin: 5vh;
  box-sizing: border-box;
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.card-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  float: left;
  border-radius: 10px 0px 0px 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-top,
.card-bottom,
.card-link {
  padding: 2.5%;
}

.card-bottom {
  flex-grow: 1;
}

.card-type {
  float: left;
}

.card-timestamp {
  float: right;
}

.card-comment {
  float: left;
  width: 85%;
  /* Text limit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 1.2em;
}

.card-rating {
  float: right;
}

.card-link {
  text-align: right;
}

.card-link a {
  color: gray;
}

/* mobile */
@media only screen and (max-width: 320px) {
}

/* tablet */
@media only screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
}

/* laptop */
@media only screen and (max-width: 1200px) {
 
}
