@import "default.css";

.content {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

.card {
    display: block;
    background:#ffffff;
    border-radius: 10px;
    margin: 5%;
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    box-shadow: 0 20px 20px -10px rgba(0,0,0,0.1);
}